.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
}
.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000000;
}

:root {
  --main-color-text: #212121;
  --secondary-color-text: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --team-background: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--main-color-text);
  font-family: roboto, sans-serif;
}
